/* PAGE STYLES */
body {
    font-family: Inter;
}


/* GRID CLASSES */
main.container {
    display: grid;
    grid-template-columns: [line1] 25% [line2] auto [line3] 25% [line4];
    grid-template-rows: [top] auto [mid] auto [bottom];
}

span.child {
    /* background-color: red; */

    text-align: center;

    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: top;
    grid-row-end: mid;
}

div.child { 
    /* background-color: blue; */

    align-items: center;
    
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: mid;
    grid-row-end: bottom;
}

div.status-child { 
    /* background-color: blue; */

    align-items: center;
    text-align: center;
    
    grid-column-start: line1;
    grid-column-end: line2;
    grid-row-start: top;
    grid-row-end: bottom;
}

.button {
    margin:0 auto;
    display:block;
    text-align:center; 

    padding: 1px 32px;
    margin-top: 5px;
    margin-bottom: 5px;
}


/* GENERAL STYLES */
h1.title {
    text-align: center;
}

button.button {
}

footer {
    text-align: center;
}

div.status-child h3 { 
    /* background-color: blue; */

    text-decoration: underline;
}

div.status-child p { 
    /* background-color: blue; */
    font-size: 11.5px;
}

#connectbool {
    color: red;
    padding-top: 0px;
}

#connecttime {
    font-weight: bold;
}