@import './fonts/fonts.css';

body {
    font-family: Inter;
    height: 100%;
    width: 100%;
}


/* GRID CLASSES */
main.container {
    display: grid;
    grid-template-columns: [line1] 10% [line2] auto [line3] 10% [line4];
    grid-template-rows: [top] auto [mid] auto [bottom];
}

span.child {
    /* background-color: red; */

    text-align: center;

    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: top;
    grid-row-end: mid;
}

div.child { 
    /* background-color: blue; */

    align-items: center;
    
    grid-column-start: line2;
    grid-column-end: line3;
    grid-row-start: mid;
    grid-row-end: bottom;
}

.button {
    height: 35px;
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* GENERAL STYLES */
h1.title {
    text-align: center;
}

button.button {

}

footer {
    text-align: center;
}